# Ignore node_modules
node_modules

# Ignore local development logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment files (often contains sensitive data)
.env
.env.local
.env.development
.env.production
.env.test

# Ignore build output (optional, if it’s rebuilt during the image creation)
.next

# Ignore Dockerfile and .dockerignore itself
dockerfile
.dockerignore
